interface {{ interface }}
 description {{ description }}
 switchport access vlan {{ access_vlan }}
 switchport mode {{ mode }}
 switchport trunk native vlan {{ native_vlan }}
 switchport voice vlan {{ voice_vlan }}
 ip address {{ ip_address }} {{ subnet }}
